.main-container {
  max-width: var(--l);
  margin-inline-end: var(--layout-margin-end);
  margin-inline-start: var(--layout-margin-start);
  /* width: 100%; */
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
