/* MOBILE ONLY */

@media (max-width: 830px) {
  /* //control side nav hamburger logic  */
  .main-nav-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: rgb(255 255 255 / 90%);
    border-inline-start: 1px solid #ccc;
    width: 200px;
    z-index: 1;
    translate: 100% 0;

    transition: translate 0.6s, box-shadow 0.6s;
  }
  body.menu-open .main-nav-container {
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
    translate: 0;
  }

  .main-header .main-nav {
    flex-direction: column;
  }
  .main-nav > li {
    border-bottom: 1px solid #ccc;
    display: grid;
  }

  .main-header .main-nav a {
    padding: 8px 26px;
    transition: background-color 0.4s;
  }

  .main-header .main-nav a:hover {
    text-decoration: none;
    background-color: #ececec;
    color: inherit;
  }
}

/* extra SMALL */
@media (min-width: 440px) {
  .hero-content {
    max-width: 50%;
  }
  .exp-info-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;
  }
  .exp-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .clients-header-container {
    flex-direction: row;
    align-items: center;
  }
  .discover-header-container {
    flex-direction: row;
    align-items: center;
  }
  .dream-container p {
    font-size: unset;
  }
  .content-container {
    font-size: unset;
  }
}

/* SMALL */
@media (min-width: 640px) {
  .hero-title {
    font-size: 2.5rem;
  }
  .hero-text {
    max-width: 80%;
  }
  .title {
    font-size: 2em;
  }

  /* //exp */
  .exp-container {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-block-end: 1rem;
  }

  .exp-left-img {
    width: 50%;
    object-fit: cover;
  }

  .exp-info-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;
  }
  .info-num {
    /* 2rem on meduim screen */
    font-size: 2rem;
  }

  .discover-img-grid {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, minmax(150px, 1fr));
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    column-gap: 1rem;
    height: 400px;
  }

  .footer-container .content-container {
    flex-direction: row;
  }
}

/* MEDUIM */
@media (min-width: 830px) {
  .btn-toggle-menu {
    display: none;
  }
  .hero-title {
    font-size: 3rem;
  }
  :root {
    /* layout */
    --layout-margin-start: 5rem;
    --layout-margin-end: 5rem;
    --l: 1400px;
  }
}

/* LARGE */
@media (min-width: 1140px) {
  .hero-title {
    font-size: 4rem;
  }
  .services-container {
    flex-direction: row;
  }
  .service-img-grid {
    width: 50%;
  }
  .services-info-container {
    width: 50%;
  }
}

/* Extra LARGE */
@media (min-width: 1440px) {
}
